/* Styling for Navbar */
body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 20px;
    margin: auto 8px;
}

    nav ul li a:hover {
        color: #683aa4;
    }

/* Styling for Hero Section */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

    section h1 {
        text-transform: uppercase;
        font-weight: 900;
        color: #683aa4;
        text-align: left;
        margin-bottom: 20px;
    }

    section p {
        font-size: 16px;
        font-weight: 300;
    }

button {
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 70px;
}

#hero img {
    max-width: 120%;
    !important;
    width: 100%;
}


/* contact section styling */
#contact {
    text-align: center;
    background-color: #683aa4;
    color: white;
}

    #contact h1 {
        text-align: center;
        color: white;
    }
